<mat-toolbar>
  <mat-toolbar-row>
    <app-logo (click)="toggleAppSidenav()"></app-logo>
    <div class="tool-bar-spacer">
      <span fxHide.lt-sm="true" class="fix-center-title">
        "App.Title"
      </span>
    </div>
        <h3 class="textlogin" fxHide.lt-sm="true" (click)="goToAuth()">'App.MenuUser.Login'</h3>
        <button mat-mini-fab color="primary" (click)="goToAuth()">
          <mat-icon class="iconlogin">how_to_reg</mat-icon>
        </button>
  </mat-toolbar-row>
</mat-toolbar>
