<footer fxLayout="column" class="withObliqueLateral marginLeft-5">
  <div  fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutAlign="space-between start"
        fxFlexOffset="20px"
        fxLayoutGap="20"
        >
    <div *ngFor="let block of linkBlocks | async" fxFlex="20" fxFlex.sm="40" >
      <app-footer-block [block]= block></app-footer-block>
    </div>
    <div fxFlex="20" fxFlex.sm="50" >
      <app-footer-profile [profile]= (infoMetadata|async)?.profileAuthor></app-footer-profile>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <br />
    <h4>Super-powered by {{(infoMetadata | async)?.company}}</h4>
    <h4>{{(infoMetadata | async)?.license }} - {{(infoMetadata | async)?.year}}</h4>
    <h6>{{(infoMetadata | async)?.name}} {{ 'Footer.Version' | translate}}: {{(infoMetadata | async)?.version}}</h6>
  </div>
</footer>
