<mat-card>
  <mat-card-header>
      <mat-card-title>{{product.title | translate}}</mat-card-title>
      <mat-card-subtitle>{{product.subtitle| translate}}</mat-card-subtitle>
      <img mat-card-avatar class="game-avatar-image" [src]=product.iconPath />
  </mat-card-header>
  <img matCardImage [src]=product.bkPath (dblclick)="navigateTo(product.url)">
  <mat-card-content>
    {{product.description | translate}}
  </mat-card-content>
  <mat-card-actions>
      <button mat-button (click)="navigateTo(product.url)">{{ "Products.GoToPage" | translate}}</button>
  </mat-card-actions>
</mat-card>
