<mat-toolbar color="primary" class="mat-elevation-z10">
  {{ 'SideNav.Actions.Header' | translate }}
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item (click)="showMenuLanguage = !showMenuLanguage">
    <mat-icon matListIcon>translate</mat-icon>
    {{ 'SideNav.Actions.SelectLanguage' | translate }}
    <mat-icon *ngIf="!showMenuLanguage">chevron_right</mat-icon>
    <mat-icon *ngIf="showMenuLanguage">expand_more</mat-icon>
  </a>
  <mat-nav-list *ngIf="showMenuLanguage">
    <mat-list-item *ngFor="let lang of listLanguages" [class.activated]="lang.id == currentLang" (click)="changeLanguage(lang.id)">
      {{ 'App.Languages.'+lang.name | translate }}
      <p class="spacer">&nbsp;</p>
      <mat-icon *ngIf="lang.id == currentLang">radio_button_checked</mat-icon>
      <mat-icon *ngIf="lang.id != currentLang">radio_button_unchecked</mat-icon>
    </mat-list-item>
  </mat-nav-list>
</mat-nav-list>
<mat-toolbar color="primary" class="mat-elevation-z10">  {{ 'SideNav.Menu.Header' | translate }}  </mat-toolbar>
<mat-nav-list>
  <a mat-list-item [routerLink]="['/home']" routerLinkActive="active" (click)='sidenavClose()'>
    <mat-icon matListIcon>home</mat-icon>
    {{ 'SideNav.Menu.Home' | translate }}
  </a>
  <a mat-list-item [routerLink]="['/about']" routerLinkActive="active" (click)='sidenavClose()'>
    <mat-icon matListIcon>persons</mat-icon>
    {{ 'SideNav.Menu.AboutUs' | translate }}
  </a>
</mat-nav-list>
