<div class="footer-block">
  <div class="footer-block-heading">
    {{ ("Footer.Blocks." + block.id + ".Title") | translate }}
  </div>
  <ul>
    <li *ngFor="let l of block.links">
      <a class="link" *ngIf="l.href"  href="{{l.href}}" target="_blank" title="{{ ('Footer.Blocks.' + block.id + '.Links.' + l.resourceToolTip) | translate }}">
        {{ ("Footer.Blocks." + block.id + ".Links." + l.resourceText) | translate }}
      </a>
      <a class="link" *ngIf="l.routerLink" [routerLink]="['/', l.routerLink ]" title="{{ ('Footer.Blocks.' + block.id + '.Links.' + l.resourceToolTip) | translate }}">
        {{ ("Footer.Blocks." + block.id + ".Links." + l.resourceText) | translate }}
      </a>
    </li>
  </ul>
</div>
