<div class="footer-block">
        <div class="footer-block-heading">Resources</div>
        <ul>
          <li >
            <a class="link" href="about" title="Alchemy Group contributors.">About</a>
          </li>
          <li >
            <a
              class="link"
              href="resources"
              title="Programming tools, training, and blogs from around the web."
              >Resource Listing</a
            >
          </li>
          <li >
            <a
              class="link"
              href="presskit"
              title="Press contacts, logos, and branding."
              >Press Kit</a
            >
          </li>
          <li >
            <a class="link" href="https://blog.angular.io/" title="Alchemy Group Blog"
              >Blog</a
            >
          </li>
          <li >
            <a class="link" href="analytics" title="Alchemy Group Usage Analytics"
              >Usage Analytics</a
            >
          </li>
        </ul>
      </div>

